body {
  background-color: #DAA520; }
  body .jumbotron {
    height: 300px;
    background-color: #000;
    color: #fff; }
    body .jumbotron h1 {
      text-align: center; }
    body .jumbotron .img-thumbnail {
      height: 400px;
      width: 300px; }
